body {
	background-color: #00e5ff;
	font-family: Roboto, sans-serif;
}
#main {
	margin: 2rem auto;
	padding: 3.5rem 2rem;
	width: 700px;
	background-color: black;
	border: 1px solid #878787;
	text-align: center;
	height: 85vh;
	position: relative;
}
h1 {
	font-family: Righteous, sans-serif;
	font-size: 4.5rem;
	margin-bottom: 3rem;
	color: white;
}
.button {
	margin: 1rem auto;
	border-radius: 2rem 0 0 2rem;
	border: 1px solid #878787;
	color: #fff;
	box-shadow: 4px 4px 7px #008cff;
	width: 60%;
  	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: background-color; 	
  	transition-property: background-color;	
}
.category {
	background-color: #F44336;
	font-size: 1.4rem;
	height: 3.5rem;
	line-height: 3.5rem;	
}

.answer {
	background-color: black;
	text-align: left;
	padding-left: 3rem;
	width: 55%;
	font-size: 1.1rem;
	height: 3rem;
	line-height: 3rem;
	padding-left: 2rem;
	display: none;
}

.answer-text {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#question-board {
	display: none;
}

.button:hover {
	cursor: pointer;
}
.category:hover {
	background-color: #ffc4b2;
}
.answer:hover {
	background-color: #ea95f9;
}

.button:active {
	position: relative;
	left: 4px;
	top: 4px;
	box-shadow: none;
}
#dialog, #question {
	background-color: #fff;
	border-radius: 1rem;
	border: 1px solid #dbdbdb;	
}
#dialog {
	padding: 3rem;
	height: 14rem;
	text-align: center;
	display: none;
	margin-top: 2rem;
	position: relative;
}
#message {
	font-size: 1.6rem;
	line-height: 1.8rem;
}
#dialog h2 {
	font-size: 2.2rem;
	margin: 2rem;
}
#dialog h3 {
	font-size: 2rem;
	margin: 2rem;
}
#dialog-next {
	display: block;
	position: absolute;
	bottom: 2rem;
	right: 2rem;
}
a {
	font-size: 1.3rem;
	color: #0043ff;
	cursor: pointer;
}
a:hover {
	color: #032ea5;
}
#question {
	background-color: #fff;
	font-size: 1.3rem;
	padding: 2rem;
	text-align: left;
	width: 55%;
	margin: 3rem auto 1rem;
}
#question-image{
	border: 1px solid #898989;
	width: 35%;
	border-radius: 5px;
}
#home-button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}

/* Animations */

@-webkit-keyframes exitLeft {
	0% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(-2000px, 0, 0);
		transform: translate3d(-2000px, 0, 0);
	}
}

@keyframes exitLeft {
	0% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(-2000px, 0, 0);
		transform: translate3d(-2000px, 0, 0);
	}
}

.exitLeft {
	-webkit-animation-name: exitLeft;
	animation-name: exitLeft;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-fill-mode: forward;
	animation-fill-mode: forward;	
}

@-webkit-keyframes enterBottom {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 2000px, 0);
		transform: translate3d(0, 2000px, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes enterBottom {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 2000px, 0);
		transform: translate3d(0, 2000px, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.enterBottom {
	-webkit-animation-name: enterBottom;
	animation-name: enterBottom;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-fill-mode: forward;
	animation-fill-mode: forward;		
}

@-webkit-keyframes enterLeftFast {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-2000px, 0, 0);
		transform: translate3d(-2000px, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes enterLeftFast {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-2000px, 0, 0);
		transform: translate3d(-2000px, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.enterLeftFast {
	-webkit-animation-name: enterLeftFast;
	animation-name: enterLeftFast;
	-webkit-animation-duration: .15s;
	animation-duration: .15s;
	-webkit-animation-fill-mode: forward;
	animation-fill-mode: forward;		
}

@-webkit-keyframes enterLeftSlow {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-2000px, 0, 0);
		transform: translate3d(-2000px, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes enterLeftSlow {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-2000px, 0, 0);
		transform: translate3d(-2000px, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.enterLeftSlow {
	-webkit-animation-name: enterLeftSlow;
	animation-name: enterLeftSlow;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forward;
	animation-fill-mode: forward;		
}

@-webkit-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forward;
	animation-fill-mode: forward;	
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forward;
	animation-fill-mode: forward;	
}

