body {
	background-color: #00e5ff;
	font-family: Roboto, sans-serif;
}
#main {
	margin: 3rem auto;
	padding: 2rem;
	width: 700px;
	/*height: 700px;*/
/*	background-color: #f5f9a4; */
	background-color: black;
	border: 1px solid #878787;
	text-align: center;
}
h1 {
	font-family: Righteous, sans-serif;
	font-size: 4.5rem;
	margin-bottom: 3rem;
	color: white;
}
.button {
	margin: 1rem auto;
	border-radius: 2rem 0 0 2rem;
	border: 1px solid #878787;
	color: #fff;
	box-shadow: 4px 4px 3px #7f7f7f;
	width: 60%;
  	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: background-color; 	
  	transition-property: background-color;	
}
.category {
	background-color: #F44336;
	font-size: 1.4rem;
	height: 3.5rem;
	line-height: 3.5rem;	
}

.answer {
/*	background-color: #673AB7;*/
	background-color: black;
	text-align: left;
	padding-left: 3rem;
	width: 55%;
	font-size: 1.1rem;
	height: 3rem;
	line-height: 3rem;	
}

.button:hover {
	cursor: pointer;
}
.category:hover {
	background-color: #ffc4b2;
}
.answer:hover {
	background-color: #ea95f9;
}

.button:active {
	position: relative;
	left: 4px;
	top: 4px;
	box-shadow: none;
}
#dialog, #question {
	background-color: #fff;
	border-radius: 1rem;
	border: 1px solid #dbdbdb;	
	margin: 2rem auto;
}
#dialog {
	font-size: 2rem;
	padding: 3rem;
	height: 14rem;
	text-align: center;
}
#question {
	background-color: #fff;
	font-size: 1.1rem;
	padding: 2rem;
	text-align: left;
	width: 55%;
	margin-bottom: 1rem;
}
#question-image{
	border: 1px solid #898989;
}

